autodocsumm  # autodoc and autosummary extension
myst_parser  # markdown text extension
nbsphinx  # jupyter notebook extension
numpydoc  # numpy docstring style
pandoc
sphinx
sphinxcontrib-confluencebuilder  # confluence
sphinxcontrib-napoleon  # google docstring style
